/* main */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* header */

.header {
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation {
  font-size: 0;
  margin-bottom: 32px;
}

.logo__link {
  display: inline-block;
  vertical-align: middle;
}

.navigation__list {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 91px);
  text-align: right;
}

.navigation__item {
  display: inline-block;
  letter-spacing: -0.02em;
}

.navigation__item:not(:last-of-type) {
  margin-right: 32px;
}

.navigation__link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  color: #0f0101;
}

.navigation__link:hover {
  color: #1abc9c;
}

.navigation__link:focus {
  color: #1abc9c;
}

/* SLIDE */

.wrapper {
  width: 1110px;
  margin: 0 auto;
  height: 600px;
  position: relative;
}

.slider {
background-image: linear-gradient(rgba(0, 0, 0, .52), rgba(0, 0, 0, .52)), url(../img/slide.jpg);
/* background-color: #000002; */
background-size: cover;
background-position: center;
margin: 0 auto;
font-family: "Roboto", sans-serif;
color: #ffffff;
}

.slide-name {
font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: 60px;
line-height: 82px;
letter-spacing: -.6px;
}

.slide-name span:hover {
color: #ff7200;
cursor: pointer;
}

.other-slides {
font-weight: 300px;
font-size: 24px;
line-height: 54px;
}

.button {
display: inline-block;
background-color: #4ec6ab;
opacity: 0.651;
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 104px;
height: 104px;
border: none;
opacity: 0.65;
background-position: center;
}

.button:hover {
background-color: #4ec6ab;
opacity: 1;
}

.button:focus {
cursor: pointer;
opacity: 1;
}

.btn-left {
left: 0;
background-image: url(../img/icon_left.png);
background-repeat: no-repeat;
object-fit: cover;
margin: 0;
position: absolute;
}

.btn-right {
right: 0;
background-image: url(../img/icon_right.png);
background-repeat: no-repeat;
object-fit: cover;
margin: 0;
position: absolute;
}

.slides {
margin: 0;
padding: 0;
list-style: none;
position: absolute;
left: 50%;
top: 36%;
transform: translateX(-50%);
width: 822px;
}

/* SECTION */

.collaction {
  background: #e9f0fd;
  padding-top: 100px;
}
.section-heading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #515151;
  margin: 0 auto;
}

.section-heading::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  bottom: 32px;
  margin-top: 32px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* PRODUCTS */

.products {
  padding: 0;
  padding-top: 119px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.products-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.product {
  position: relative;
  width: 255px;
  height: 100%;
  display: inline-block;
  margin-right: 26px;
  padding: 0;
}

.product:last-child {
  margin: 0;
}

/* item footer */

.item-footer {
  position: absolute;
  background: #323232;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.item-name {
  float: left;
  width: 75%;
  color: #fff;
  padding: 0 8px;
}

.item-price {
  background: #ffffff70;
  color: #fff;
  float: right;
  padding: 0 8px;
  text-align: center;
}

.item-price::before {
  content: "$";
}

.product:hover .item-footer {
  background: #1abc9c;
}

.product:hover .product-overlay {
  opacity: 1;
}

.clearfix::before {
  display: table;
  content: "";
  clear: both;
}

.product:hover .product-img {
  opacity: 0.549;
}

/* SUBMENU */

.product-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #0000007f;
  text-align: center;
  opacity: 0;
}

.product-overlay:hover {
  opacity: 1;
}

.submenu {
  list-style-type: none;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.submenu-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  margin-right: 4px;
}

.submenu-icon:nth-child(3) {
  margin: 0;
}

.submenu-icon:last-child {
  margin: 0;
  padding-top: 7px;
}

.submenu-button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  background: none;
  border: #fff 1px solid;
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-like {
  background-image: url(../img/icon_like.png);
}

.button-shuffle {
  background-image: url(../img/icon_shuffle.png);
}

.button-clock {
  background-image: url(../img/icon_clock.png);
}

.card-titel {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 20px);
}

.box-card {
  width: 166px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  background-position: 12px center;
  background-image: url(../img/icon_cart.png);
  background-color: #323232;
}
.button:hover {
  background-color: #1abc9c;
  border: none;
}

.button:hover {
  opacity: 1;
}

.button:focus {
  background-color: #1abc9c;
  border: none;
}

  /* FOOTER */
  .footer {
    height: 88px;
    background: #323232;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 88px;
    color: #fefefe;
  }
  .footer span {
    text-decoration: none;
    color: #46bfa9;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }