// MAIN COLORS 
$main-color: #ffffff:
$first-color: #f38181;
$second-color: #fce38a;
$third-color: #95e1d3;

// font colors
$main-font-color: #333333;
$font-color: #999999;


// background-colors
$border-color: #e7e7e7;
$placeholder-color: #cccccc;

// FONTS
$decorative-font: 'Kaushan Script';
$main-font: 'Montserrat';
$text-font: 'Roboto';