{{#each this}}
<li class="country">
    <h2 class="name">{{name}}</h2>
    <p class="capital">Capital:{{capital}}</p>
    <p class="population">Population:{{population}}</p>
    <ul class="languages-list">
    </ul>
</li>

<img src="{{flag}}" alt="flag of country">
</li>
{{/each}}