/* main */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #edf0c7;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 600px;
  margin: 40px auto 0;
  padding: 40px;
}

.timer {
  display: flex;
  justify-content: space-between;
  border: solid 3px #ff5c00;
  border-radius: 35px;
}

.field {
  flex-wrap: wrap;
  text-align: center;
  font-size: x-large;
  font-family: "Calistoga", cursive;
}

.dots:after {
  content: " \003A";
  padding: 0 40px;
}

.value {
  font-weight: bold;
  color: #2e5a1c;
  font-size: 32px;
}

.label {
  display: block;
  color: #4e9525;
  font-size: 16px;
  text-align: left;
}

.dayTimer {
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  color: #761a1a;
}
